#H1{
    background-color: rgb(255, 208, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#H3{
    text-align: center;
    text-shadow: 6px;
}
span{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.P1{
    font-size: 20px;
}